html, head, title, body, a, header, img, nav, ul, li, aside, p, h2, p, section, figure, figcaption, i, ol, h1, form, footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  width: 100%;
}
